* {
color:#FFF ;
padding: 0;
margin: 0;
}
body {
    height: 4000px;
    width: 100%;
    background-image: url(../case/images/background.jpg); 
    background-color: violet;
}
.header {
    height: 200px;
    width: 100%;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
}
.logo_box_flex{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.Logo_box{
    height: 80%;
    width: 100%;
    float: left;
    /* background-color: green; */
    margin: 20px 0px 0px 15px;
}
.Logo{
    height: 100%;
    width: 100%;
    background-image: url(../case/images/logo.png) ;
    background-repeat: no-repeat;
    white-space: nowrap;
}
.login_box_flex{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.login_box{
    height: 80%;
    width: 20%;
    margin-right:auto;
    
    margin: 20px 0px 0px 15px;    
    
}
.login{
    float: right;
    margin-top: 5% ;
}

a.button10 {
    display: inline-block;
    color: black;
    font-size: 270%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
  }
  a.button10:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
  }
  a.button10:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
  } 

.content{
    width: 100%;
    height: 3600px;
    
}
.livedrop{
    width: 100%;
    height: 75px;
    background-color: yellow;
}
.case_main_big_box{
    height: 95%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: tomato;
    display:flex;
    flex-direction:column;

}
.case_title_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.case_title{
    font-size: 250%;
    margin-top: 10px;
}
.cases{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;
    max-height: 2000px;
}
.case_box{
    max-height: 250px;
    min-width: 256px;
    max-width: 20%;
    flex-grow:1;
    margin: 10px;
    background-color: #777777;
    
}
.case_text{
    text-align:center;
}
.case_army{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    background-image: url(../case/images/army.png);
}

.case_zap{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    background-image: url(../case/images/zap.png);
}

.case_zas{
    margin: 0 auto;
    height: 198px;
    width: 256px;

    background-image: url(../case/images/zas.png);
}

.case_tain{
    margin: 0 auto;
    height: 198px;
    width: 256px;

    background-image: url(../case/images/tain.png);
}

.case_knife{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/knife.png);
}

.case_prizma2{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/prisma-2-case.png);
}

.case_prizma{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/prisma-case.png);
}

.case_clutch{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/Clutch-case.png);
}

.case_horizon{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/horizon-case.png);
}

.case_danger_zone{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/danger-zone-case.png);
}

.case_raskol{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/raskol-case.png);
}

.case_cs20{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/cs20-case.png);
}

.case_gamma2{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/gamma2-case.png);
}

.case_gamma{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/gamma-case.png);
}

.case_glove{
    margin: 0 auto;
    height: 198px;
    width: 256px;
    margin-top: 15px;
    background-image: url(../case/images/case/glove-case.png);
}

/* .hrtophead{
    color: chocolate;
    margin-top: 0%;
}
.hrdownhead{
    color: chocolate;
    margin-top: 9%;
    
}
.header{
    height: 100%;
    width: 100%;
} */
/* 
.divlogo{
    height: 80%;
    width: 20px;
    border: none;
    float: left;
}


.headerlogin{
    float: right;
    margin-right: 7%;
    white-space:nowrap;
    margin-top: 2%;

}


/* 
  .livedroptop{
      margin-top: 5px;
      color: rgb(218, 165, 32);
      width: 100%;
  }
  .livedropdown{
    margin-top: 3%;
    color: red;
    width: 100%;
}
.livedropback{
    background-image: url(../case/images/livedrop.jpg);
    height: 60px;
    width: 100%;
}
 */
