{% extends "base_generic.html" %}
{% block header %}
<div class="header">
   
    <div class="Logo_box">
        <div class="Logo">
            <a href=""><img class="logo"></a>
        </div>
        
    </div>
    <div class="login_box">
        <div class="login">
            <p ><a href="#" class="button10">Авторизация</a></p>
        </div>
        
    </div>
    
   
</div>
{% endblock %}
{% block content %}
<div class="content">
    <div class="livedrop">
    </div>
    <div class="case_main_big_box">
        <div class="case_title_flex">
            <div class="case_title">
                <p>Кейсы по  качеству</p>
            </div>
        </div>
        <div class="cases">
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            <div class="case_box">
            </div>
            
        </div>
    </div>
    
</div>


{% endblock %}



{% load static %}

