{% extends "base_generic.html" %}
{% block header %}
<div class="header">
   
    <div class="Logo_box">
        <div class="Logo">
            <a href=""><img class="logo"></a>
        </div>
        
    </div>
    <div class="login_box">
        <div class="login">
            <p ><a href="#" class="button10">Авторизация</a></p>
        </div>
        
    </div>
    
   
</div>
{% endblock %}
{% block content %}
<div class="content">
    <div class="livedrop">
    </div>
    <div class="case_main_big_box">
        <div class="case_title_flex">
            <div class="case_title">
                <p>КЕЙСЫ ПО РАРИТЕТНОСТИ</p>
            </div>
        </div>
        <div class="cases">
            <div class="case_box">
                <div class="case_army">
                 </div>
                 <div>
                     <P class="army_text">Случайное армейское</P>
                 </div>
            </div>
            <div class="case_box">
                <div class="case_zap">
                </div>
                <div>
                    <P class="zap_text">Случайное запрещенное</P>
                </div>
            </div>
            <div class="case_box">
                <div class="case_zas">
                </div>
                <div>
                    <P class="zas_text">Случайное засекреченное</P>
                </div>
            </div>
            <div class="case_box">
                <div class="case_tain">
                </div>
                <div>
                    <P class="tain_text">Случайное тайное</P>
                </div>
            </div>
            <div class="case_box">
                <div class="case_knife">
                </div>
                <div>
                    <P class="knife_text">Случайный нож</P>
                </div>
            </div>
            <div class="case_title">
                <p>СТАНДАРТНЫЕ КЕЙСЫ</p>
            </div>
            <div class="cases">
                <div class="case_box">
                    <div class="case_prizma2">
                    </div>
                    <div>
                        <P class="prizma2_text">Prisma2 </P>
                    </div>
                </div>
                <div class="case_box">
                    <div class="case_clutch">
                    </div>
                    <div>
                        <P class="zas_text">Clutch </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_prizma">
                    </div>
                    <div>
                        <P class="prisma_text">Prisma </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_horizon">
                    </div>
                    <div>
                        <P class="horizon_text">Horizon </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_danger_zone">
                    </div>
                    <div>
                        <P class="danger_zone_text">Danger Zone </P>
                    </div>
                    
                 </div>
                 <div class="case_box">
                    <div class="case_raskol">
                    </div>
                    <div>
                        <P class="raskol_text">Расколотая сеть </P>
                    </div>

                </div>
                <div class="case_box">
                    <div class="case_cs20">
                    </div>
                    <div>
                        <P class="cs20_text">Cs:20 </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_gamma">
                    </div>
                    <div>
                        <P class="gamma_text">Gamma </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_gamma2">
                    </div>
                    <div>
                        <P class="gamma2_text">Gamma 2 </P>
                    </div>
                    
                </div>
                <div class="case_box">
                    <div class="case_glove">
                    </div>
                    <div>
                        <P class="glove_text">Glove </P>
                    </div>
                    
                 </div>
            </div>
            <div class="case_title">
                <p>КОЛЛЕКЦИИ</p>
            </div>
            <div class="cases">
    <div class="case_box">
                    <div class="case_gamma2">
                    </div>
                    <div>
                        <P class="gamma2_text">Gamma 2 </P>
                    </div>
        </div>
    <div class="case_box">
                <div class="case_gamma2">
                </div>
                <div>
                    <P class="gamma2_text">Gamma 2 </P>
                </div>
        </div> 
    <div class="case_box">
            <div class="case_gamma2">
            </div>
            <div>
                <P class="gamma2_text">Gamma 2 </P>
            </div>
        </div> 
    <div class="case_box">
        <div class="case_gamma2">
        </div>
        <div>
            <P class="gamma2_text">Gamma 2 </P>
        </div>
       </div>
    <div class="case_box">
        <div class="case_gamma2">
        </div>
        <div>
        <P class="gamma2_text">Gamma 2 </P>
        </div>
        </div> 
    <div class="case_box">
        <div class="case_gamma2">
        </div>
        <div>
        <P class="gamma2_text">Gamma 2 </P>
        </div>
        </div> 
    <div class="case_box">
        <div class="case_gamma2">
        </div>
        <div>
        <P class="gamma2_text">Gamma 2 </P>
        </div>
        </div>
    <div class="case_box">
    <div class="case_gamma2">
    </div>
    <div>
        <P class="gamma2_text">Gamma 2 </P>
    </div>
</div>
            </div>
    </div>
    
    
</div>


{% endblock %}



{% load static %}

